<style>
html
{
  min-height: 100%;
}

body
{
  background: linear-gradient(#6bebff, #6bebff , #a3f3ff, #a3f3ff, #6bebff);
  background-color: #6bebff; /* Placez une couleur de fond si la page ne charge pas le dégradé */
  margin:0;
  padding:0;
  min-height: 600px;
}
</style>


h1
{
  color : red;
}

h2
{
  color : blue;
}

p
{
  color: black;
}

.para
{
  color: black;
}

ol, li
{
  color: darkblue;
}

#quest
{
  font-style: italic;
}

header
{
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: #6bebff;
  height: 125px;
  min-width:750px;
}

.hdr_element
{
  width : 300px;
  height: 120px;
}

.hdr_element:nth-child(1)
{
  /*background-color: orange;*/
  width : 180px;
}

.hdr_element:nth-child(2)
{
  /*background-color: red;*/
  flex:1;
  height: 125px;
  min-width : 300px;
  font-family:  Georgia, Arial;
  line-height:4em;
  /*background-image: url("Images/flocons_mini.png");*/
  background-position: top right;
}

.hdr_element:nth-child(3)
{
  /*background-color: blue;*/
  height: 56px;
  width : 250px;
}

nav
{
  display: flex;
  height: 22px;
  justify-content: space-around;
  border: 1px solid #194c70;
  background-color: #20608d;
  min-width: 750px;
  font-family : Verdana, Times New Roman;
}

.texte
{
  color : white;
  background-color: #20608d;
}

.texte:hover
{
  color : black;
}

section
{
  justify-content: space-around;
  text-align: justify;
  align-items:center;
  max-width: 600px;
  min-width: 500px;
}


#sect
{
  margin-left: 180px;
  border: 1px solid blue;
}
