<style>
html
{
  min-height: 100%;
}

body
{
  /* background: linear-gradient(#ABC8E2, #375D81, #183152, #375D81, #ABC8E2); */
  /* background: linear-gradient(#243347, #334864, #456186, #334864, #243347); */
  background: linear-gradient(#243347, #334864, #243347);
  text-align: justify;
  background-color: #334864; /* Placez une couleur de fond si la page ne charge pas le dégradé */
  padding:0;
  margin:0;
  min-height: 600px;
}

h1
{
  font-size : 40px;
  color : #243347;
}

h2
{
  font-size : 30px;
  color : #5D85B9;
}

h3
{
  color : red;
}

h4
{
  color : green;
}

p
{
  font-size : 18px;
  color : #CBD0D6;
}

.para
{
  color: #9CC7FE;
}

ol, li
{
  color: darkblue;
}

#quest
{
  font-style: italic;
}

header
{
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: #6C86A8;
  font-style: italic;
  height: 125px;
  min-width:830px;
}

.hdr_element
{
  width : 300px;
  height: 120px;
}

.hdr_element:nth-child(1)
{
  /* background-color: #000728; */
  width : 180px;
}

.hdr_element:nth-child(2)
{
  /*background-color: red;*/
  flex:1;
  height: 125px;
  min-width : 400px;
  font-family:  Georgia, Arial;
  line-height:4em;
  /*background-image: url("Images/flocons_mini.png");*/
  background-position: top right;
}

.hdr_element:nth-child(3)
{
  /*background-color: blue;*/
  height: 56px;
  width : 250px;
}

nav
{
  display: flex;
  height: 22px;
  justify-content: center;
  border: 1px solid #194c70;
  background-color: #446B9C;
  min-width: 750px;
  font-family : Verdana, Times New Roman;
}

.texte
{
  color : #CBD0D6;
  text-decoration: none;
  /* background-color: #20608d; */
}

.texte:hover
{
  color : black;
}

section
{
  justify-content: space-around;
  text-align: justify;
  align-items:center;
  width: 800px;
}


#sect
{
  margin-left: 180px;
  border: 1px solid blue;
}

</style>
